body {
    background-image: url(../images/meetings-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.course-content{
    background-color: white !important;
}
.photo{
   margin: auto; 
   display: block;
   margin-bottom: 1%;
   margin-top: 3%;
}
.bg{
    background-color: white;
}
h1{
    color:white;
}